{% extends "base.html" %}
{% block content %}
<div class="main">
    <div class="row">
		<div class="col-md-12">
			<div class="text-wrap">
				struts漏洞检测
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-lg-12">
			<div class="input-group-lg">
				<input type="text" id="url" class="form-control" aria-label="..." name="url">
                <input type="hidden" id="ip" class="form-control" aria-label="..." name="ip">
                <br>
                <center>
                    <button type="button" id="domain2ip" class="btn btn-info btn-lg " aria-haspopup="true" aria-expanded="false"><b>获取IP</b></button>
                &nbsp;&nbsp;<button type="button" id="pang" class="btn btn-info btn-lg " aria-haspopup="true" aria-expanded="false"><b>旁站</b></button>
			    &nbsp;&nbsp;<button type="button" id="cadd" class="btn btn-info btn-lg " aria-haspopup="true" aria-expanded="false"><b>C段</b></button>
                &nbsp;&nbsp;<button type="button" id="daochu" class="btn btn-info btn-lg " aria-haspopup="true" aria-expanded="false"><b>导出</b></button>
                </center>
            </div>
		</div>
    </div>

    <div class="row">
		<div class="col-md-10">
			<div class="text-wrap">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>




</div>







{% endblock %}